@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #da042a;
    --primary-color-dark: #c00427;
    --secondary-color: #111010;
    --secondary-color-dark: #0a0a0a;
    --text-light: rgb(180, 173, 174);
    --extra-light: #f8f7fd;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--extra-light);
}

section {
    padding: 160px 16% 90px;
    box-shadow: 0px 0px 1px 2px var(--primary-color);
}

nav {
    background-color: var(--secondary-color);
    color: var(--extra-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    box-shadow: 0px 0px 2px 3px var(--primary-color);
    z-index: 10;
}

nav .logo {
    max-width: 150px;
    cursor: pointer;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    font-weight: 500;
    cursor: pointer;
}

nav ul li:hover a {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: .5rem;
}

.nav-btn {
    background-color: var(--primary-color-dark);
    color: var(--extra-light);
    font-size: 1rem;
    padding: .75rem;
    border: 0;
    outline: 0;
    border-radius: 30px;
    box-shadow: 2px 2px 2px var(--extra-light);
    cursor: pointer;
}

.nav-btn:hover {
    background-color: var(--extra-light);
    color: var(--primary-color-dark);
    box-shadow: 3px 3px 2px var(--primary-color-dark);
}

/* hero */
.hero {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(16, 15, 15, 0.747), rgba(0, 0, 0, 0.766)), url("../images/bg.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    box-shadow: 0px 0px 1px 3px var(--primary-color);
}

.hero h1 {
    margin-top: 100px;
    color: var(--extra-light);
    width: 600px;
    font-size: 5rem;
    line-height: 6rem;
}

.hero h2 {
    color: var(--extra-light);
    font-size: 3rem;
}

.hero p {
    max-width: 360px;
    font-weight: 500;
    color: var(--extra-light);
    font-size: 1.1rem;
    text-transform: capitalize;
}

.btn-container {
    margin: 20px 0;
}

button {
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
}

.btn-dark {
    background-color: var(--primary-color-dark);
    color: var(--extra-light);
    padding: 10px 10px 10px 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px var(--extra-light);
    font-size: .9rem;
}

.btn-dark:hover {
    background-color: var(--extra-light);
    color: var(--primary-color-dark);
    box-shadow: 3px 3px 2px var(--primary-color-dark);
}

.btn-dark img {
    width: 40px;
    background-color: var(--extra-light);
    border-radius: 50%;
    padding: 10px;
    margin-left: 20px;
}

.btn-dark:hover img {
    background-color: var(--primary-color);
}

/* Hero Animation */
.hero h1 span {
    background: linear-gradient(#da042a, #da042a);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
}  

.hero h1 span:first-child {
    animation: textcolor1 2s linear infinite alternate;
}

@keyframes textcolor1 {
    0% {
        background-size: 0%;
    }
    40% {
        background-size: 100%;
    }
    100% {
        background-size: 100%;
    }
}

.hero h1 span:last-child {
    animation: textcolor2 2s linear infinite alternate;
}

@keyframes textcolor2 {
    0% {
        background-size: 0%;
    }
    40% {
        background-size: 0%;
    }
    100% {
        background-size: 100%;
    }
}

/* about */
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 40px; /* More spacing between image and text */
}

.about-text h4 {
    margin: 10px 0;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.about-text h2 {
    font-size: 2.3rem;
    color: var(--white);
    text-align: center;
}

.about-text p {
    color: var(--extra-light);
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 2rem;
    text-align: center;
}

.about-img img {
    height: auto;
    width: 100%;
    max-width: 300px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

.about .btn-container {
    display: flex;
    justify-content: center;
    margin: 0;
}

/* services */

.main-text {
    text-align: center;
}

.main-text h2 {
    font-size: 2.5rem;
    color: var(--white);
    margin-bottom: 10px;
}

.main-text h4 {
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 600;
}

.services-content {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, auto)); */
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

.box {
    color: var(--white);
    padding: 20px 10px 30px ;
    height: auto;
    /* background: linear-gradient(#c0042697, #d32b448f); */
    background-color: var(--secondary-color-dark);
    border-top: 5px solid transparent;
    transition: all .40s ease;
    box-shadow: 5px 5px 6px var(--primary-color-dark);
    cursor: pointer;
}

.box:hover {
    transform: scale(1.01) translate(-5px);
    /* border-top: 5px solid var(--extra-light); */
    box-shadow: 5px 5px 6px var(--extra-light);
}

.box img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 2px 2px 5px var(--white);
}

.box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 15px 0;
    transition: all .40s ease;
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-underline-offset: .5rem;
}

.box:hover h3 {
    color: var(--primary-color);
}

.box p {
    color: var(--extra-light);
    font-size: .9rem;
    line-height: 20px;
}

/* Projects */

.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.row img {
    height: auto;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--white);
    border-top: 2px solid var(--white);
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.row {
    padding: 10px;
    background-color: var(--text-light);
    color: var(--secondary-color-dark);
    border-radius: 0.5rem;
    transition: all .40s ease;
    box-shadow: 3px 3px 6px var(--primary-color);
}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.row h3 {
    font-size: 20px;
    font-weight: 700;
}

.row h6 {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.row-icon i {
    font-size: 21px;
}

.row:hover {
    background-color: var(--secondary-color);
    border-top: 5px solid var(--primary-color);
    transform: scale(1.01) translateY(-5px);
    transition: all .40s ease;
    cursor: pointer;
}

.row:hover h3 {
    color: var(--primary-color);
}

.row:hover a {
    color: var(--text-light);
}

.row .btn {
    padding: 5px 10px;
    float: right;
    margin-top: 20px;
    font-size: .9rem;font-weight: 500;
    background-color: var(--primary-color);
    color: var(--extra-light);
    border: 1px solid var(--primary-color);
    transition: all .40s ease;
    box-shadow: 2px 2px 2px 2px var(--secondary-color);
}

.row:hover .btn {
    box-shadow: 2px 2px 4px var(--text-light);
    background-color: transparent;
}

.btn:hover {
    transform: scale(1.01) translateY(-5px);
}

.row .btn1{
    float: left;
}

/* Contact */

.contact {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr;
    align-items: center;
    /* gap: 3rem; */
    padding-top: 15%;
}

.contact-text h4{
    margin: 15px 0;
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 600;
}

.contact-text h2 {
    font-size: 2.5rem;
    color: var(--white);
}

.contact-text p {
    color: var(--extra-light);
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list li a {
    display: block;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: var(--extra-light);
}

.contact-icons i {
    height: 40px;
    width: 40px;
    background-color: var(--text-light);
    border-radius: 0.5rem;
    color: var(--primary-color-dark);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-right: 10px;
    transition: all .40s ease;
}

.contact-icons i:hover {
    transform: scale(1.01) translateY(-5px);
    color: var(--white);
    background-color: var(--primary-color);
}

.contact-form form {
    position: relative;
    /* padding-top: 10%; */
    padding-top: 5%;
}

.contact-form form input:focus {
    background-color: var(--primary-color);
    color: var(--extra-light);
}

.contact-form form input, form textarea {
    border: none;
    outline: none;
    width: 100%;
    padding: 18px;
    background-color: var(--text-light);
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--primary-color);
}

.contact-form form input:hover, form textarea:hover {
    transform: scale(1.01) translate(-5px);
    border-top: 2px solid var(--primary-color);
    background-color: var(--primary-color-dark);
    color: var(--white);
}

.contact-form textarea {
    resize: none;
    height: 150px;
}

.contact-form form ::placeholder {
    font-size: .9rem;
    letter-spacing: 1px;
    color: var(--secondary-color-dark);
}

.contact-form form .send {
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--white);
    box-shadow: 3px 3px 3px var(--text-light);
    transition: all .40s ease;
    cursor: pointer;
}

.contact-form form .send:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color-dark);
    box-shadow: 3px 3px 3px var(--primary-color);
    border-top: 0;
}

/* Request */
.request {
     display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr;
    align-items: center;
    /* gap: 3rem; */
    padding-top: 15%;
}

.request-text h4{
    margin: 15px 0;
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 600;
}

.request-text h2 {
    font-size: 2.5rem;
    color: var(--white);
}

.request-text p {
    color: var(--extra-light);
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 2rem;
}

.request-form form {
    position: relative;
    padding-top: 5%;
}

.request-form form input:focus {
    background-color: var(--primary-color);
    color: var(--extra-light);
}

.request-form form input, form textarea {
    border: none;
    outline: none;
    width: 100%;
    padding: 18px;
    background-color: var(--text-light);
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--primary-color);
}

.request-form form input:hover, form textarea:hover {
    transform: scale(1.01) translate(-5px);
    border-top: 2px solid var(--primary-color);
    background-color: var(--primary-color-dark);
    color: var(--white);
}

.request-form textarea {
    resize: none;
    height: 150px;
}

.request-form form ::placeholder {
    font-size: .9rem;
    letter-spacing: 1px;
    color: var(--secondary-color-dark);
}

.request-form form .send {
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--white);
    box-shadow: 3px 3px 3px var(--text-light);
    transition: all .40s ease;
    cursor: pointer;
}

.request-form form .send:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color-dark);
    box-shadow: 3px 3px 3px var(--primary-color);
    border-top: 0;
}


/* Footer */
footer span .brand {
    color: var(--primary-color);
}
footer span {
    color: #fff;
    font-size: .7rem;
}
footer i {
    font-size: .8rem;
    margin-right: 5px;
}
footer i:hover {
    color: var(--primary-color);
}